body{
  background-color: rgb(31, 28, 28); /*adds a black background*/
}

/*input is formatted so it is on the left side*/

.inputs{
  display: flex;
    flex-direction: column;
    margin-top: 98px;
    width: 300px;
    position: fixed; 
    top: 0; 
    bottom: 0; 
    background-color: #33393ac2; 
    padding-top: 70px;
    border-radius: 8px;
  }
  
/*formats the input for artist text*/
  
.inputs input {
      margin: 10px;
      padding: 10px;
      font-size: 16px;
      border: 3px solid #022507;
      border-radius: 8px;
  }

  /*formats the input for submit button*/
  
.inputs button {
      margin: 10px;
      padding: 10px 20px;
      font-size: 16px;
      background-color: #2da72d;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
  }
  /*formats the title of app*/
.title{
  display: flex;
  align-items: center;
  height: 35px;
  background: linear-gradient(90deg, #092e0a 1.18%, #61c286 100%);
  color: white;
  padding: 20px;
  border-radius: 8px;
  justify-content: center;
  font-family: 'Circular', sans-serif;
}

/*spotify image*/

.img{
  width: 5%;
}

/*formatting to make gallery centered and scrollable*/
  
.gallery {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    height: 200px;
    gap: 10px; 
    width: 100%;
    margin-top: 300px; 
    padding-left: 340px;
}


.artistStyle {
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #c44a64;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.artistStyle:hover {
  background-color: #0fdf20;
  transform: scale(2.05);
}


/*styling to make text look more aesthetic, hover added as well for increased readability*/

.songStyle {
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #a81490;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.songStyle:hover {
  background-color: #ff4500;
  transform: scale(2.05);
}

.traitStyle {
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #130b0d;
  padding: 8px;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.traitStyle:hover {
  background-color: #40eed7;
  transform: scale(2.05);
}

.selection{
  color:white;
  font-family: sans-serif;
}

/*styling to make time for sort look more aesthetic*/

.time {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  margin-top: 175px;
  margin-left: 250px;
  background-color: #f2f2f2;
  padding: 20px; 
  border: 2px solid #4CAF50; 
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  font-family: "Arial", sans-serif; 
  font-size: 16px; 
  color: #333; 
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
}
